<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h2>Posts</h2>
      <ul class="list-group">
        <app-post  *ngFor="let post of posts"
                      [postTitle]="post.title"
                      [postContent]="post.content"
                      [postLoveIts]="post.loveIts"></app-post>
      </ul>
    </div>
  </div>
</div>
