<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': postLoveIts > 0,
                'list-group-item-danger': postLoveIts < 0}">
  <div class="row">
    <div class="col-lg-8">
      <h4 >{{ postTitle }}</h4>
    </div>
    <div class="col-lg-4 text-right">
      {{ postCreatedAt | date : 'short' }}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
    {{ postContent }}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
      <button class="btn btn-success"
              (click)="onLoveIt()">Love it!</button>
    </div>
    <div class="col-lg-10">
      <button class="btn btn-danger"
              (click)="onDontLoveIt()">Don't love it!</button>
      {{ postLoveIts }}
    </div>
  </div>
</li>
